## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 17-05 23:59**.

In [2]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [3]:
df = pd.read_csv("country_vaccinations.csv")

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [17]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86512 entries, 0 to 86511
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86512 non-null  object
 1   iso_code                             86512 non-null  object
 2   date                                 86512 non-null  object
 3   total_vaccinations                   43607 non-null  float64
 4   people_vaccinated                    41294 non-null  float64
 5   people_fully_vaccinated              38802 non-null  float64
 6   daily_vaccinations_raw               35362 non-null  float64
 7   daily_vaccinations                   86213 non-null  float64
 8   total_vaccinations_per_hundred       43607 non-null  float64
 9   people_vaccinated_per_hundred        41294 non-null  float64
 10  people_fully_vaccinated_per_hundred  38802 non-null  float64
 11  daily_vaccinations_per_million       86213 non-null  float64
 12  vaccines                             86512 non-null  object
 13  source_name                          86512 non-null  object
 14  source_website                       86512 non-null  object
dtypes: float64(9), object(6)
memory usage: 9.9+ MB

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [7]:
daily_vaccinations = df.pivot(index='date', columns='country', values = 'daily_vaccinations_per_million' )
# print(daily_vaccinations)
print(daily_vaccinations)
print(daily_vaccinations.index)

country     Afghanistan  Albania  Algeria  Andorra  Angola  Anguilla
date
2020-12-02          NaN      NaN      NaN      NaN     NaN       NaN  \
2020-12-03          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-04          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-05          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-06          NaN      NaN      NaN      NaN     NaN       NaN
...                 ...      ...      ...      ...     ...       ...
2022-03-25          NaN      NaN      NaN      NaN  1007.0     727.0
2022-03-26          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-27          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-28          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-29          NaN      NaN      NaN      NaN     NaN       NaN

country     Antigua and Barbuda  Argentina  Armenia  Aruba  ...  Uruguay
date                                                        ...
2020-12-02                  NaN        NaN      NaN    NaN  ...      NaN  \
2020-12-03                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-04                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-05                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-06                  NaN        NaN      NaN    NaN  ...      NaN
...                         ...        ...      ...    ...  ...      ...
2022-03-25                  NaN     1712.0      NaN  653.0  ...   3425.0
2022-03-26                  NaN     1653.0      NaN  625.0  ...   3418.0
2022-03-27                  NaN     1620.0      NaN  672.0  ...   3417.0
2022-03-28                  NaN     1521.0      NaN  709.0  ...   2990.0
2022-03-29                  NaN     1200.0      NaN  718.0  ...   2897.0

country     Uzbekistan  Vanuatu  Venezuela  Vietnam  Wales  Wallis and Futuna
date
2020-12-02         NaN      NaN        NaN      NaN    NaN                NaN  \
2020-12-03         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-04         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-05         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-06         NaN      NaN        NaN      NaN    NaN                NaN
...                ...      ...        ...      ...    ...                ...
2022-03-25         NaN      NaN        0.0      NaN  526.0             1172.0
2022-03-26         NaN      NaN        NaN      NaN  479.0             1352.0
2022-03-27         NaN      NaN        NaN      NaN  475.0             1532.0
2022-03-28         NaN      NaN        NaN      NaN  508.0             1713.0
2022-03-29         NaN      NaN        NaN      NaN    NaN                NaN

country     Yemen  Zambia  Zimbabwe
date
2020-12-02    NaN     NaN       NaN
2020-12-03    NaN     NaN       NaN
2020-12-04    NaN     NaN       NaN
2020-12-05    NaN     NaN       NaN
2020-12-06    NaN     NaN       NaN
...           ...     ...       ...
2022-03-25    NaN   900.0    4610.0
2022-03-26    NaN   760.0    5528.0
2022-03-27    NaN   765.0    6005.0
2022-03-28    NaN   770.0    6667.0
2022-03-29    NaN   721.0    6874.0

[483 rows x 223 columns]
Index(['2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05', '2020-12-06',
       '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11',
       ...
       '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24',
       '2022-03-25', '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29'],
      dtype='object', name='date', length=483)

3. Convert the date index to datetime format.

In [8]:
daily_vaccinations.index = pd.to_datetime(daily_vaccinations.index)
print(daily_vaccinations.index)

DatetimeIndex(['2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05',
               '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09',
               '2020-12-10', '2020-12-11',
               ...
               '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23',
               '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27',
               '2022-03-28', '2022-03-29'],
              dtype='datetime64[ns]', name='date', length=483, freq=None)

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [10]:
daily_vaccinations.insert(0,'month','')
daily_vaccinations['month'] = daily_vaccinations.index.month_name()
print(daily_vaccinations.iloc[40:53])

country       month  Afghanistan  Albania  Algeria  Andorra  Angola  Anguilla
date
2021-01-11  January          NaN     22.0      NaN      NaN     NaN       NaN  \
2021-01-12  January          NaN     22.0      NaN      NaN     NaN       NaN
2021-01-13  January          NaN     22.0      NaN      NaN     NaN       NaN
2021-01-14  January          NaN     23.0      NaN      NaN     NaN       NaN
2021-01-15  January          NaN     22.0      NaN      NaN     NaN       NaN
2021-01-16  January          NaN     22.0      NaN      NaN     NaN       NaN
2021-01-17  January          NaN     20.0      NaN      NaN     NaN       NaN
2021-01-18  January          NaN     19.0      NaN      NaN     NaN       NaN
2021-01-19  January          NaN     18.0      NaN      NaN     NaN       NaN
2021-01-20  January          NaN     16.0      NaN      NaN     NaN       NaN
2021-01-21  January          NaN     14.0      NaN      NaN     NaN       NaN
2021-01-22  January          NaN     12.0      NaN      NaN     NaN       NaN
2021-01-23  January          NaN      9.0      NaN      NaN     NaN       NaN

country     Antigua and Barbuda  Argentina  Armenia  ...  Uruguay  Uzbekistan
date                                                 ...
2021-01-11                  NaN      307.0      NaN  ...      NaN         NaN  \
2021-01-12                  NaN      335.0      NaN  ...      NaN         NaN
2021-01-13                  NaN      355.0      NaN  ...      NaN         NaN
2021-01-14                  NaN      350.0      NaN  ...      NaN         NaN
2021-01-15                  NaN      318.0      NaN  ...      NaN         NaN
2021-01-16                  NaN      304.0      NaN  ...      NaN         NaN
2021-01-17                  NaN      304.0      NaN  ...      NaN         NaN
2021-01-18                  NaN      273.0      NaN  ...      NaN         NaN
2021-01-19                  NaN      253.0      NaN  ...      NaN         NaN
2021-01-20                  NaN      262.0      NaN  ...      NaN         NaN
2021-01-21                  NaN      254.0      NaN  ...      NaN         NaN
2021-01-22                  NaN      228.0      NaN  ...      NaN         NaN
2021-01-23                  NaN      222.0      NaN  ...      NaN         NaN

country     Vanuatu  Venezuela  Vietnam   Wales  Wallis and Futuna  Yemen
date
2021-01-11      NaN        NaN      NaN  1646.0                NaN    NaN  \
2021-01-12      NaN        NaN      NaN  2423.0                NaN    NaN
2021-01-13      NaN        NaN      NaN  2837.0                NaN    NaN
2021-01-14      NaN        NaN      NaN  3185.0                NaN    NaN
2021-01-15      NaN        NaN      NaN  2548.0                NaN    NaN
2021-01-16      NaN        NaN      NaN  2123.0                NaN    NaN
2021-01-17      NaN        NaN      NaN  2966.0                NaN    NaN
2021-01-18      NaN        NaN      NaN  3193.0                NaN    NaN
2021-01-19      NaN        NaN      NaN  3367.0                NaN    NaN
2021-01-20      NaN        NaN      NaN  3503.0                NaN    NaN
2021-01-21      NaN        NaN      NaN  3886.0                NaN    NaN
2021-01-22      NaN        NaN      NaN  5161.0                NaN    NaN
2021-01-23      NaN        NaN      NaN  6244.0                NaN    NaN

country     Zambia  Zimbabwe
date
2021-01-11     NaN       NaN
2021-01-12     NaN       NaN
2021-01-13     NaN       NaN
2021-01-14     NaN       NaN
2021-01-15     NaN       NaN
2021-01-16     NaN       NaN
2021-01-17     NaN       NaN
2021-01-18     NaN       NaN
2021-01-19     NaN       NaN
2021-01-20     NaN       NaN
2021-01-21     NaN       NaN
2021-01-22     NaN       NaN
2021-01-23     NaN       NaN

[13 rows x 224 columns]

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [11]:
daily_average = daily_vaccinations.groupby(by='month').mean().transpose()
print(daily_average)

month                    April       August     December     February
country
Afghanistan         183.700000   479.161290   385.741935   305.852941  \
Albania            3933.466667  3007.419355  2537.161290  1171.250000
Algeria             501.000000  1857.870968   414.419355   233.375000
Andorra            7494.566667  4367.354839  5460.000000  2848.053571
Angola              364.600000   286.548387  2040.774194  1941.035714
...                        ...          ...          ...          ...
Wales              7441.800000  2060.516129  8355.677419  4119.553571
Wallis and Futuna  8512.100000  1349.161290   613.580645  1262.000000
Yemen                      NaN     8.290323    63.000000    48.178571
Zambia               70.562500   297.129032   998.483871   848.785714
Zimbabwe            799.066667  3847.612903  1452.225806   470.473684

month                  January         July          June        March
country
Afghanistan         323.806452   273.096774    203.233333   153.886792  \
Albania            1357.423077  2561.225806   2095.700000   823.363636
Algeria             394.878788   501.000000    501.000000   410.100000
Andorra            7731.216216  7402.838710  13875.533333  2650.636364
Angola             2922.612903   166.387097    581.300000   619.854545
...                        ...          ...           ...          ...
Wales              3911.384615  4488.032258   6978.800000  4788.288136
Wallis and Futuna   808.387097  1104.935484   1766.733333  5894.333333
Yemen                84.903226    45.838710    181.400000    45.875000
Zambia             1183.032258   415.645161      9.433333  1033.103448
Zimbabwe            802.645161  2225.967742    647.633333  1053.333333

month                      May     November      October    September
country
Afghanistan         231.322581   687.266667   862.516129   471.066667
Albania            3739.580645  2264.466667  2005.806452  3239.166667
Algeria             501.000000   727.466667   745.741935  2931.666667
Andorra            2790.709677   713.133333   945.645161  2795.633333
Angola              366.870968  2984.266667  2917.903226  1257.766667
...                        ...          ...          ...          ...
Wales              7108.419355  5047.933333  5148.677419   703.900000
Wallis and Futuna  8330.548387  1415.233333  3009.451613  2004.133333
Yemen               143.818182    69.400000   147.806452    81.500000
Zambia              214.161290   290.533333   342.741935   238.166667
Zimbabwe           1147.806452  1500.933333  1313.322581  2535.466667

[223 rows x 12 columns]

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [520]:
df.insert(0,'month',pd.to_datetime(df['date']).dt.month_name())
daily_average = df.pivot_table( index='month', 
                                columns='country', 
                                values = 'daily_vaccinations_per_million',
                                aggfunc = np.mean
                )
print(daily_average)

country    Afghanistan      Albania      Algeria       Andorra       Angola
month
April       183.700000  3933.466667   501.000000   7494.566667   364.600000  \
August      479.161290  3007.419355  1857.870968   4367.354839   286.548387
December    385.741935  2537.161290   414.419355   5460.000000  2040.774194
February    305.852941  1171.250000   233.375000   2848.053571  1941.035714
January     323.806452  1357.423077   394.878788   7731.216216  2922.612903
July        273.096774  2561.225806   501.000000   7402.838710   166.387097
June        203.233333  2095.700000   501.000000  13875.533333   581.300000
March       153.886792   823.363636   410.100000   2650.636364   619.854545
May         231.322581  3739.580645   501.000000   2790.709677   366.870968
November    687.266667  2264.466667   727.466667    713.133333  2984.266667
October     862.516129  2005.806452   745.741935    945.645161  2917.903226
September   471.066667  3239.166667  2931.666667   2795.633333  1257.766667

country        Anguilla  Antigua and Barbuda    Argentina      Armenia
month
April       5789.366667          1204.666667  2931.133333    88.000000  \
August       693.129032          1710.096774  7778.741935  1181.612903
December    2350.096774          1057.000000  5377.636364  4547.709677
February    6346.980769          2991.950000  2605.125000  1941.642857
January     1629.129032           832.774194  3917.258065  2512.096774
July        4602.451613          1616.419355  7875.290323   927.612903
June        3568.033333          5734.566667  6186.200000   492.100000
March       2622.142857          4328.222222  1978.583333  1325.769231
May        13199.580645          5412.193548  3144.354839   261.580645
November    1970.300000          4004.200000  6034.500000  4914.000000
October      147.161290          4496.516129  6066.935484  3948.387097
September    370.200000          6160.466667  6779.100000  1645.133333

country           Aruba  ...       Uruguay   Uzbekistan      Vanuatu
month                    ...
April      15359.133333  ...  11317.466667   622.033333          NaN  \
August      3161.290323  ...   6867.258065  6441.548387  1291.967742
December     602.935484  ...   1534.516129  5409.774194  2540.516129
February     497.964286  ...   2206.655172  2594.714286  1702.142857
January      816.129032  ...   4057.387097  1386.645161  2201.612903
July        3351.161290  ...   8682.935484  3232.161290  1594.193548
June        4021.000000  ...  10218.733333  1872.633333   993.310345
March       1139.064516  ...   4617.533333  2895.846154          NaN
May        11738.645161  ...   9420.580645  1177.193548          NaN
November     727.000000  ...   1508.833333  7223.733333  3568.766667
October     1034.290323  ...   3733.354839  5334.193548  3681.741935
September   2599.633333  ...   6902.533333  6009.700000  2912.133333

country      Venezuela       Vietnam        Wales  Wallis and Futuna
month
April       275.066667    102.733333  7441.800000        8512.100000  \
August     5641.645161   4622.677419  2060.516129        1349.161290
December   6041.903226   9669.741935  8355.677419         613.580645
February   2164.692308   4687.821429  4119.553571        1262.000000
January    4498.870968  10482.516129  3911.384615         808.387097
July       2938.161290    647.741935  4488.032258        1104.935484
June       1399.100000    781.766667  6978.800000        1766.733333
March        22.392857   1891.956522  4788.288136        5894.333333
May         230.419355    235.000000  7108.419355        8330.548387
November   5705.800000  13722.133333  5047.933333        1415.233333
October    6337.193548  12644.290323  5148.677419        3009.451613
September  7185.200000   7065.033333   703.900000        2004.133333

country         Yemen       Zambia     Zimbabwe
month
April             NaN    70.562500   799.066667
August       8.290323   297.129032  3847.612903
December    63.000000   998.483871  1452.225806
February    48.178571   848.785714   470.473684
January     84.903226  1183.032258   802.645161
July        45.838710   415.645161  2225.967742
June       181.400000     9.433333   647.633333
March       45.875000  1033.103448  1053.333333
May        143.818182   214.161290  1147.806452
November    69.400000   290.533333  1500.933333
October    147.806452   342.741935  1313.322581
September   81.500000   238.166667  2535.466667

[12 rows x 223 columns]

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [521]:
df2 = daily_vaccinations.reset_index(inplace=True)
df2 = pd.DataFrame(daily_vaccinations.set_index(['date','month']).stack())
df2.reset_index(inplace=True)
df2.columns = ['date','month', 'country','vaccinations']
df2 = df2[['country','date','month','vaccinations']]
print(df2)

                    country       date     month  vaccinations
0                    Norway 2020-12-03  December           0.0
1                    Norway 2020-12-04  December           0.0
2                    Latvia 2020-12-05  December           0.0
3                    Norway 2020-12-05  December           0.0
4                    Latvia 2020-12-06  December           0.0
...                     ...        ...       ...           ...
86208                Turkey 2022-03-29     March         538.0
86209  United Arab Emirates 2022-03-29     March         845.0
86210               Uruguay 2022-03-29     March        2897.0
86211                Zambia 2022-03-29     March         721.0
86212              Zimbabwe 2022-03-29     March        6874.0

[86213 rows x 4 columns]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [528]:
df3 = pd.melt(daily_vaccinations, id_vars=['date','month'], value_name='vaccinations')
df3 = df3[['country','date','month','vaccinations']].dropna()
print(df3)

            country       date     month  vaccinations
83      Afghanistan 2021-02-23  February          34.0
84      Afghanistan 2021-02-24  February          34.0
85      Afghanistan 2021-02-25  February          34.0
86      Afghanistan 2021-02-26  February          34.0
87      Afghanistan 2021-02-27  February          34.0
...             ...        ...       ...           ...
107704     Zimbabwe 2022-03-25     March        4610.0
107705     Zimbabwe 2022-03-26     March        5528.0
107706     Zimbabwe 2022-03-27     March        6005.0
107707     Zimbabwe 2022-03-28     March        6667.0
107708     Zimbabwe 2022-03-29     March        6874.0

[86213 rows x 4 columns]