## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 17-05 23:59**.

In [5]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [14]:
df = pd.read_csv("country_vaccinations.csv")

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [7]:
print(df.columns)
print(df.describe())

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')
       total_vaccinations  people_vaccinated  people_fully_vaccinated
count        4.360700e+04       4.129400e+04             3.880200e+04  \
mean         4.592964e+07       1.770508e+07             1.413830e+07
std          2.246004e+08       7.078731e+07             5.713920e+07
min          0.000000e+00       0.000000e+00             1.000000e+00
25%          5.264100e+05       3.494642e+05             2.439622e+05
50%          3.590096e+06       2.187310e+06             1.722140e+06
75%          1.701230e+07       9.152520e+06             7.559870e+06
max          3.263129e+09       1.275541e+09             1.240777e+09

       daily_vaccinations_raw  daily_vaccinations
count            3.536200e+04        8.621300e+04  \
mean             2.705996e+05        1.313055e+05
std              1.212427e+06        7.682388e+05
min              0.000000e+00        0.000000e+00
25%              4.668000e+03        9.000000e+02
50%              2.530900e+04        7.343000e+03
75%              1.234925e+05        4.409800e+04
max              2.474100e+07        2.242429e+07

       total_vaccinations_per_hundred  people_vaccinated_per_hundred
count                    43607.000000                   41294.000000  \
mean                        80.188543                      40.927317
std                         67.913577                      29.290759
min                          0.000000                       0.000000
25%                         16.050000                      11.370000
50%                         67.520000                      41.435000
75%                        132.735000                      67.910000
max                        345.370000                     124.760000

       people_fully_vaccinated_per_hundred  daily_vaccinations_per_million
count                         38802.000000                    86213.000000
mean                             35.523243                     3257.049157
std                              28.376252                     3934.312440
min                               0.000000                        0.000000
25%                               7.020000                      636.000000
50%                              31.750000                     2050.000000
75%                              62.080000                     4682.000000
max                             122.370000                   117497.000000

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [8]:

pivot = df.pivot(index='date', columns='country', values='daily_vaccinations_per_million')

print(pivot)

country     Afghanistan  Albania  Algeria  Andorra  Angola  Anguilla
date
2020-12-02          NaN      NaN      NaN      NaN     NaN       NaN  \
2020-12-03          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-04          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-05          NaN      NaN      NaN      NaN     NaN       NaN
2020-12-06          NaN      NaN      NaN      NaN     NaN       NaN
...                 ...      ...      ...      ...     ...       ...
2022-03-25          NaN      NaN      NaN      NaN  1007.0     727.0
2022-03-26          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-27          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-28          NaN      NaN      NaN      NaN     NaN       NaN
2022-03-29          NaN      NaN      NaN      NaN     NaN       NaN

country     Antigua and Barbuda  Argentina  Armenia  Aruba  ...  Uruguay
date                                                        ...
2020-12-02                  NaN        NaN      NaN    NaN  ...      NaN  \
2020-12-03                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-04                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-05                  NaN        NaN      NaN    NaN  ...      NaN
2020-12-06                  NaN        NaN      NaN    NaN  ...      NaN
...                         ...        ...      ...    ...  ...      ...
2022-03-25                  NaN     1712.0      NaN  653.0  ...   3425.0
2022-03-26                  NaN     1653.0      NaN  625.0  ...   3418.0
2022-03-27                  NaN     1620.0      NaN  672.0  ...   3417.0
2022-03-28                  NaN     1521.0      NaN  709.0  ...   2990.0
2022-03-29                  NaN     1200.0      NaN  718.0  ...   2897.0

country     Uzbekistan  Vanuatu  Venezuela  Vietnam  Wales  Wallis and Futuna
date
2020-12-02         NaN      NaN        NaN      NaN    NaN                NaN  \
2020-12-03         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-04         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-05         NaN      NaN        NaN      NaN    NaN                NaN
2020-12-06         NaN      NaN        NaN      NaN    NaN                NaN
...                ...      ...        ...      ...    ...                ...
2022-03-25         NaN      NaN        0.0      NaN  526.0             1172.0
2022-03-26         NaN      NaN        NaN      NaN  479.0             1352.0
2022-03-27         NaN      NaN        NaN      NaN  475.0             1532.0
2022-03-28         NaN      NaN        NaN      NaN  508.0             1713.0
2022-03-29         NaN      NaN        NaN      NaN    NaN                NaN

country     Yemen  Zambia  Zimbabwe
date
2020-12-02    NaN     NaN       NaN
2020-12-03    NaN     NaN       NaN
2020-12-04    NaN     NaN       NaN
2020-12-05    NaN     NaN       NaN
2020-12-06    NaN     NaN       NaN
...           ...     ...       ...
2022-03-25    NaN   900.0    4610.0
2022-03-26    NaN   760.0    5528.0
2022-03-27    NaN   765.0    6005.0
2022-03-28    NaN   770.0    6667.0
2022-03-29    NaN   721.0    6874.0

[483 rows x 223 columns]

3. Convert the date index to datetime format.

In [9]:

pivot.index = pd.to_datetime(pivot.index)

print(pivot.index)

DatetimeIndex(['2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05',
               '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09',
               '2020-12-10', '2020-12-11',
               ...
               '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23',
               '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27',
               '2022-03-28', '2022-03-29'],
              dtype='datetime64[ns]', name='date', length=483, freq=None)

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [10]:
pivot['month'] = pivot.index.month


print(pivot['month'])

date
2020-12-02    12
2020-12-03    12
2020-12-04    12
2020-12-05    12
2020-12-06    12
              ..
2022-03-25     3
2022-03-26     3
2022-03-27     3
2022-03-28     3
2022-03-29     3
Name: month, Length: 483, dtype: int32

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [11]:

monthly_avg = pivot.groupby(['month']).mean()


monthly_avg = monthly_avg.T


print(monthly_avg)

month                       1            2            3            4
country
Afghanistan         323.806452   305.852941   153.886792   183.700000  \
Albania            1357.423077  1171.250000   823.363636  3933.466667
Algeria             394.878788   233.375000   410.100000   501.000000
Andorra            7731.216216  2848.053571  2650.636364  7494.566667
Angola             2922.612903  1941.035714   619.854545   364.600000
...                        ...          ...          ...          ...
Wales              3911.384615  4119.553571  4788.288136  7441.800000
Wallis and Futuna   808.387097  1262.000000  5894.333333  8512.100000
Yemen                84.903226    48.178571    45.875000          NaN
Zambia             1183.032258   848.785714  1033.103448    70.562500
Zimbabwe            802.645161   470.473684  1053.333333   799.066667

month                       5             6            7            8
country
Afghanistan         231.322581    203.233333   273.096774   479.161290  \
Albania            3739.580645   2095.700000  2561.225806  3007.419355
Algeria             501.000000    501.000000   501.000000  1857.870968
Andorra            2790.709677  13875.533333  7402.838710  4367.354839
Angola              366.870968    581.300000   166.387097   286.548387
...                        ...           ...          ...          ...
Wales              7108.419355   6978.800000  4488.032258  2060.516129
Wallis and Futuna  8330.548387   1766.733333  1104.935484  1349.161290
Yemen               143.818182    181.400000    45.838710     8.290323
Zambia              214.161290      9.433333   415.645161   297.129032
Zimbabwe           1147.806452    647.633333  2225.967742  3847.612903

month                       9            10           11           12
country
Afghanistan         471.066667   862.516129   687.266667   385.741935
Albania            3239.166667  2005.806452  2264.466667  2537.161290
Algeria            2931.666667   745.741935   727.466667   414.419355
Andorra            2795.633333   945.645161   713.133333  5460.000000
Angola             1257.766667  2917.903226  2984.266667  2040.774194
...                        ...          ...          ...          ...
Wales               703.900000  5148.677419  5047.933333  8355.677419
Wallis and Futuna  2004.133333  3009.451613  1415.233333   613.580645
Yemen                81.500000   147.806452    69.400000    63.000000
Zambia              238.166667   342.741935   290.533333   998.483871
Zimbabwe           2535.466667  1313.322581  1500.933333  1452.225806

[223 rows x 12 columns]

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [17]:
df['month'] = pd.to_datetime(df['date']).dt.month


monthly_avg = pd.pivot_table(df, values='daily_vaccinations_per_million', index='country', columns='month', aggfunc='mean')

print(monthly_avg)

month                       1            2            3            4
country
Afghanistan         323.806452   305.852941   153.886792   183.700000  \
Albania            1357.423077  1171.250000   823.363636  3933.466667
Algeria             394.878788   233.375000   410.100000   501.000000
Andorra            7731.216216  2848.053571  2650.636364  7494.566667
Angola             2922.612903  1941.035714   619.854545   364.600000
...                        ...          ...          ...          ...
Wales              3911.384615  4119.553571  4788.288136  7441.800000
Wallis and Futuna   808.387097  1262.000000  5894.333333  8512.100000
Yemen                84.903226    48.178571    45.875000          NaN
Zambia             1183.032258   848.785714  1033.103448    70.562500
Zimbabwe            802.645161   470.473684  1053.333333   799.066667

month                       5             6            7            8
country
Afghanistan         231.322581    203.233333   273.096774   479.161290  \
Albania            3739.580645   2095.700000  2561.225806  3007.419355
Algeria             501.000000    501.000000   501.000000  1857.870968
Andorra            2790.709677  13875.533333  7402.838710  4367.354839
Angola              366.870968    581.300000   166.387097   286.548387
...                        ...           ...          ...          ...
Wales              7108.419355   6978.800000  4488.032258  2060.516129
Wallis and Futuna  8330.548387   1766.733333  1104.935484  1349.161290
Yemen               143.818182    181.400000    45.838710     8.290323
Zambia              214.161290      9.433333   415.645161   297.129032
Zimbabwe           1147.806452    647.633333  2225.967742  3847.612903

month                       9            10           11           12
country
Afghanistan         471.066667   862.516129   687.266667   385.741935
Albania            3239.166667  2005.806452  2264.466667  2537.161290
Algeria            2931.666667   745.741935   727.466667   414.419355
Andorra            2795.633333   945.645161   713.133333  5460.000000
Angola             1257.766667  2917.903226  2984.266667  2040.774194
...                        ...          ...          ...          ...
Wales               703.900000  5148.677419  5047.933333  8355.677419
Wallis and Futuna  2004.133333  3009.451613  1415.233333   613.580645
Yemen                81.500000   147.806452    69.400000    63.000000
Zambia              238.166667   342.741935   290.533333   998.483871
Zimbabwe           2535.466667  1313.322581  1500.933333  1452.225806

[223 rows x 12 columns]

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [18]:
monthly_avg = monthly_avg.unstack()

monthly_avg = monthly_avg.reset_index()

monthly_avg.columns = ['date', 'country', 'daily_vaccinations_per_million']

monthly_avg['month'] = pd.to_datetime(monthly_avg['date']).dt.month

monthly_avg = monthly_avg[['date', 'country', 'month', 'daily_vaccinations_per_million']]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [29]:
melted_df = monthly_avg.melt(id_vars=['date', 'country', 'month'], value_vars=['daily_vaccinations_per_million'], var_name='variable')
melted_df = melted_df.drop(columns='variable')


print (melted_df)

      date            country  month        value
0        1        Afghanistan      1   323.806452
1        1            Albania      1  1357.423077
2        1            Algeria      1   394.878788
3        1            Andorra      1  7731.216216
4        1             Angola      1  2922.612903
...    ...                ...    ...          ...
2671    12              Wales      1  8355.677419
2672    12  Wallis and Futuna      1   613.580645
2673    12              Yemen      1    63.000000
2674    12             Zambia      1   998.483871
2675    12           Zimbabwe      1  1452.225806

[2676 rows x 4 columns]