## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 17-05 23:59**.

In [2]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [3]:
df = pd.read_csv(r"C:\Users\Abdulrhman Al-Tabali\Desktop\data manipulation\Pandas\Class8-DataManipulation-Week20\country_vaccinations.csv")

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [4]:
df.head(6)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [11]:
# YOUR CODE HERE
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [14]:
# YOUR CODE HERE
pivoted = df.pivot(index = "date" ,columns= "iso_code",values= "daily_vaccinations_per_million")
pivoted

iso_code,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ATG,...,VEN,VGB,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
date,,,,,,,,,,,,,,,,,,,,,
2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,653.0,NaN,1007.0,727.0,NaN,NaN,1075.0,1712.0,NaN,NaN,...,0.0,8711.0,NaN,NaN,1172.0,NaN,NaN,935.0,900.0,4610.0
2022-03-26,625.0,NaN,NaN,NaN,NaN,NaN,1040.0,1653.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1352.0,NaN,NaN,931.0,760.0,5528.0
2022-03-27,672.0,NaN,NaN,NaN,NaN,NaN,1040.0,1620.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1532.0,NaN,NaN,946.0,765.0,6005.0
2022-03-28,709.0,NaN,NaN,NaN,NaN,NaN,942.0,1521.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1713.0,NaN,NaN,931.0,770.0,6667.0
2022-03-29,718.0,NaN,NaN,NaN,NaN,NaN,845.0,1200.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101.0,721.0,6874.0

3. Convert the date index to datetime format.

In [15]:
# YOUR CODE HERE
df.dtypes 
#date is an object (string) data type that is why we need to covert it into a datetime data type

country                                 object
iso_code                                object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million         float64
vaccines                                object
source_name                             object
source_website                          object
dtype: object

In [27]:
df["date"] = df["date"].astype('datetime64[ns]')

In [36]:
print(df.dtypes)
#or
type(df["date"][0])

country                                        object
iso_code                                       object
date                                   datetime64[ns]
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
daily_vaccinations_raw                        float64
daily_vaccinations                            float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
daily_vaccinations_per_million                float64
vaccines                                       object
source_name                                    object
source_website                                 object
month                                           int64
dtype: object

pandas._libs.tslibs.timestamps.Timestamp

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [31]:
# YOUR CODE HERE
df["month"] = pd.DatetimeIndex(df['date']).month

df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,2

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [34]:
# YOUR CODE HERE
#pivot table summarize and aggregate tabular data. when you have duplicated data 
# https: // www.youtube.com/watch?v = xPPs59pn6qU & ab_channel = codebasics
df.pivot_table(index="month", columns="country",         
         values="daily_vaccinations_per_million",aggfunc="mean")   #look at margins = True parameter

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
month,,,,,,,,,,,,,,,,,,,,,
1,323.806452,1357.423077,394.878788,7731.216216,2922.612903,1629.129032,832.774194,3917.258065,2512.096774,816.129032,...,4057.387097,1386.645161,2201.612903,4498.870968,10482.516129,3911.384615,808.387097,84.903226,1183.032258,802.645161
2,305.852941,1171.250000,233.375000,2848.053571,1941.035714,6346.980769,2991.950000,2605.125000,1941.642857,497.964286,...,2206.655172,2594.714286,1702.142857,2164.692308,4687.821429,4119.553571,1262.000000,48.178571,848.785714,470.473684
3,153.886792,823.363636,410.100000,2650.636364,619.854545,2622.142857,4328.222222,1978.583333,1325.769231,1139.064516,...,4617.533333,2895.846154,NaN,22.392857,1891.956522,4788.288136,5894.333333,45.875000,1033.103448,1053.333333
4,183.700000,3933.466667,501.000000,7494.566667,364.600000,5789.366667,1204.666667,2931.133333,88.000000,15359.133333,...,11317.466667,622.033333,NaN,275.066667,102.733333,7441.800000,8512.100000,NaN,70.562500,799.066667
5,231.322581,3739.580645,501.000000,2790.709677,366.870968,13199.580645,5412.193548,3144.354839,261.580645,11738.645161,...,9420.580645,1177.193548,NaN,230.419355,235.000000,7108.419355,8330.548387,143.818182,214.161290,1147.806452
6,203.233333,2095.700000,501.000000,13875.533333,581.300000,3568.033333,5734.566667,6186.200000,492.100000,4021.000000,...,10218.733333,1872.633333,993.310345,1399.100000,781.766667,6978.800000,1766.733333,181.400000,9.433333,647.633333
7,273.096774,2561.225806,501.000000,7402.838710,166.387097,4602.451613,1616.419355,7875.290323,927.612903,3351.161290,...,8682.935484,3232.161290,1594.193548,2938.161290,647.741935,4488.032258,1104.935484,45.838710,415.645161,2225.967742
8,479.161290,3007.419355,1857.870968,4367.354839,286.548387,693.129032,1710.096774,7778.741935,1181.612903,3161.290323,...,6867.258065,6441.548387,1291.967742,5641.645161,4622.677419,2060.516129,1349.161290,8.290323,297.129032,3847.612903
9,471.066667,3239.166667,2931.666667,2795.633333,1257.766667,370.200000,6160.466667,6779.100000,1645.133333,2599.633333,...,6902.533333,6009.700000,2912.133333,7185.200000,7065.033333,703.900000,2004.133333,81.500000,238.166667,2535.466667
10,862.516129,2005.806452,745.741935,945.645161,2917.903226,147.161290,4496.516129,6066.935484,3948.387097,1034.290323,...,3733.354839,5334.193548,3681.741935,6337.193548,12644.290323,5148.677419,3009.451613,147.806452,342.741935,1313.322581
11,687.266667,2264.466667,727.466667,713.133333,2984.266667,1970.300000,4004.200000,6034.500000,4914.000000,727.000000,...,1508.833333,7223.733333,3568.766667,5705.800000,13722.133333,5047.933333,1415.233333,69.400000,290.533333,1500.933333
12,385.741935,2537.161290,414.419355,5460.000000,2040.774194,2350.096774,1057.000000,5377.636364,4547.709677,602.935484,...,1534.516129,5409.774194,2540.516129,6041.903226,9669.741935,8355.677419,613.580645,63.000000,998.483871,1452.225806

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [74]:
# YOUR CODE HERE
df.pivot_table(index="month", columns="country",         
         values="daily_vaccinations_per_million",aggfunc="mean")

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
month,,,,,,,,,,,,,,,,,,,,,
1,323.806452,1357.423077,394.878788,7731.216216,2922.612903,1629.129032,832.774194,3917.258065,2512.096774,816.129032,...,4057.387097,1386.645161,2201.612903,4498.870968,10482.516129,3911.384615,808.387097,84.903226,1183.032258,802.645161
2,305.852941,1171.250000,233.375000,2848.053571,1941.035714,6346.980769,2991.950000,2605.125000,1941.642857,497.964286,...,2206.655172,2594.714286,1702.142857,2164.692308,4687.821429,4119.553571,1262.000000,48.178571,848.785714,470.473684
3,153.886792,823.363636,410.100000,2650.636364,619.854545,2622.142857,4328.222222,1978.583333,1325.769231,1139.064516,...,4617.533333,2895.846154,NaN,22.392857,1891.956522,4788.288136,5894.333333,45.875000,1033.103448,1053.333333
4,183.700000,3933.466667,501.000000,7494.566667,364.600000,5789.366667,1204.666667,2931.133333,88.000000,15359.133333,...,11317.466667,622.033333,NaN,275.066667,102.733333,7441.800000,8512.100000,NaN,70.562500,799.066667
5,231.322581,3739.580645,501.000000,2790.709677,366.870968,13199.580645,5412.193548,3144.354839,261.580645,11738.645161,...,9420.580645,1177.193548,NaN,230.419355,235.000000,7108.419355,8330.548387,143.818182,214.161290,1147.806452
6,203.233333,2095.700000,501.000000,13875.533333,581.300000,3568.033333,5734.566667,6186.200000,492.100000,4021.000000,...,10218.733333,1872.633333,993.310345,1399.100000,781.766667,6978.800000,1766.733333,181.400000,9.433333,647.633333
7,273.096774,2561.225806,501.000000,7402.838710,166.387097,4602.451613,1616.419355,7875.290323,927.612903,3351.161290,...,8682.935484,3232.161290,1594.193548,2938.161290,647.741935,4488.032258,1104.935484,45.838710,415.645161,2225.967742
8,479.161290,3007.419355,1857.870968,4367.354839,286.548387,693.129032,1710.096774,7778.741935,1181.612903,3161.290323,...,6867.258065,6441.548387,1291.967742,5641.645161,4622.677419,2060.516129,1349.161290,8.290323,297.129032,3847.612903
9,471.066667,3239.166667,2931.666667,2795.633333,1257.766667,370.200000,6160.466667,6779.100000,1645.133333,2599.633333,...,6902.533333,6009.700000,2912.133333,7185.200000,7065.033333,703.900000,2004.133333,81.500000,238.166667,2535.466667
10,862.516129,2005.806452,745.741935,945.645161,2917.903226,147.161290,4496.516129,6066.935484,3948.387097,1034.290323,...,3733.354839,5334.193548,3681.741935,6337.193548,12644.290323,5148.677419,3009.451613,147.806452,342.741935,1313.322581
11,687.266667,2264.466667,727.466667,713.133333,2984.266667,1970.300000,4004.200000,6034.500000,4914.000000,727.000000,...,1508.833333,7223.733333,3568.766667,5705.800000,13722.133333,5047.933333,1415.233333,69.400000,290.533333,1500.933333
12,385.741935,2537.161290,414.419355,5460.000000,2040.774194,2350.096774,1057.000000,5377.636364,4547.709677,602.935484,...,1534.516129,5409.774194,2540.516129,6041.903226,9669.741935,8355.677419,613.580645,63.000000,998.483871,1452.225806

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [88]:
# YOUR CODE HERE

###########################stacking#####################################
df_stack = df.drop(["vaccines", "source_name", "source_website","date","iso_code"],axis=1)
df_stack = df_stack.set_index(["month","country"])

df_stack = df_stack.stack()
df_stack.index.rename("type",level = 2, inplace=True)
df_stack.name = "Value"
df_stack.reset_index()

##########################################################################

        month      country                                 type      Value
0           2  Afghanistan                   total_vaccinations       0.00
1           2  Afghanistan                    people_vaccinated       0.00
2           2  Afghanistan       total_vaccinations_per_hundred       0.00
3           2  Afghanistan        people_vaccinated_per_hundred       0.00
4           2  Afghanistan                   daily_vaccinations    1367.00
...       ...          ...                                  ...        ...
455189      3     Zimbabwe                   daily_vaccinations  103751.00
455190      3     Zimbabwe       total_vaccinations_per_hundred      59.90
455191      3     Zimbabwe        people_vaccinated_per_hundred      33.48
455192      3     Zimbabwe  people_fully_vaccinated_per_hundred      23.26
455193      3     Zimbabwe       daily_vaccinations_per_million    6874.00

[455194 rows x 4 columns]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [95]:
# YOUR CODE HERE
df_stack = df.drop(
    ["vaccines", "source_name", "source_website", "date", "iso_code"], axis=1)
df_stack.melt(id_vars=["month","country"],var_name="type",value_name="magnitude",)

        month      country                            type  magnitude
0           2  Afghanistan              total_vaccinations        0.0
1           2  Afghanistan              total_vaccinations        NaN
2           2  Afghanistan              total_vaccinations        NaN
3           2  Afghanistan              total_vaccinations        NaN
4           2  Afghanistan              total_vaccinations        NaN
...       ...          ...                             ...        ...
778603      3     Zimbabwe  daily_vaccinations_per_million     4610.0
778604      3     Zimbabwe  daily_vaccinations_per_million     5528.0
778605      3     Zimbabwe  daily_vaccinations_per_million     6005.0
778606      3     Zimbabwe  daily_vaccinations_per_million     6667.0
778607      3     Zimbabwe  daily_vaccinations_per_million     6874.0

[778608 rows x 4 columns]