## Data Manipulation module
### Homework assignment 3

Welcome to the first homework assignment of the data manipulation module. In this assignment you will be working with advanced manipulations for Pandas DataFrames. 

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 17-05 23:59**.

In [14]:
import pandas as pd
import numpy as np

Download the `country_vaccinations.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [15]:
df = pd.read_csv("country_vaccinations.csv")

1. Print some statistics of the dataframe, like the column names and the stats per column, to get a feel for the data.

In [16]:
# YOUR CODE HERE
for col in df.columns:
    print(col)

country
iso_code
date
total_vaccinations
people_vaccinated
people_fully_vaccinated
daily_vaccinations_raw
daily_vaccinations
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
daily_vaccinations_per_million
vaccines
source_name
source_website

In [17]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [18]:
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

2. Pivot the dataframe to have the date as the index. The columns should be the country names. The values should be the daily vaccinations per million.

In [19]:
# YOUR CODE HERE
pivot_df = df.pivot(index='date', columns='country', values='daily_vaccinations_per_million')
pivot_df.head()

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3. Convert the date index to datetime format.

In [20]:
# YOUR CODE HERE
pivot_df.index = pd.to_datetime(pivot_df.index)
pivot_df.head()

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4. Create a new column with the month of the date. You might have to do some googling about the datetime format to find out how to do this.

In [21]:
# YOUR CODE HERE
pivot_df['month'] = pivot_df.index.month
pivot_df['year_month'] = pivot_df.index.strftime('%Y-%m')

5. Per country calculate the average daily vaccinations per million for each month. The result should be a dataframe with the country names as the index and the months as the columns. The values should be the average daily vaccinations per million. You might need to stack or pivot the table to obtain the correct format.

In [22]:
# YOUR CODE HERE
pivot_df.groupby(by='year_month').mean()

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe,month
year_month,,,,,,,,,,,,,,,,,,,,,
2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
2021-01,NaN,12.238095,21.500000,853.000000,NaN,NaN,NaN,240.774194,NaN,NaN,...,NaN,NaN,NaN,NaN,4419.000000,NaN,NaN,NaN,NaN,1.0
2021-02,34.000000,118.035714,170.142857,789.571429,NaN,11749.166667,9065.000000,609.714286,NaN,NaN,...,NaN,NaN,12.272727,NaN,7001.892857,NaN,NaN,NaN,78.200000,2.0
2021-03,69.483871,882.387097,501.000000,3577.677419,121.433333,3642.645161,6070.612903,1957.064516,NaN,11922.000000,...,NaN,NaN,40.451613,19.916667,8515.677419,24225.000000,NaN,NaN,143.612903,3.0
2021-04,183.700000,3933.466667,501.000000,7494.566667,364.600000,5789.366667,1204.666667,2931.133333,88.000000,15359.133333,...,622.033333,NaN,275.066667,102.733333,7441.800000,8512.100000,NaN,70.562500,799.066667,4.0
2021-05,231.322581,3739.580645,501.000000,2790.709677,366.870968,13199.580645,5412.193548,3144.354839,261.580645,11738.645161,...,1177.193548,NaN,230.419355,235.000000,7108.419355,8330.548387,143.818182,214.161290,1147.806452,5.0
2021-06,203.233333,2095.700000,501.000000,13875.533333,581.300000,3568.033333,5734.566667,6186.200000,492.100000,4021.000000,...,1872.633333,993.310345,1399.100000,781.766667,6978.800000,1766.733333,181.400000,9.433333,647.633333,6.0
2021-07,273.096774,2561.225806,501.000000,7402.838710,166.387097,4602.451613,1616.419355,7875.290323,927.612903,3351.161290,...,3232.161290,1594.193548,2938.161290,647.741935,4488.032258,1104.935484,45.838710,415.645161,2225.967742,7.0
2021-08,479.161290,3007.419355,1857.870968,4367.354839,286.548387,693.129032,1710.096774,7778.741935,1181.612903,3161.290323,...,6441.548387,1291.967742,5641.645161,4622.677419,2060.516129,1349.161290,8.290323,297.129032,3847.612903,8.0
2021-09,471.066667,3239.166667,2931.666667,2795.633333,1257.766667,370.200000,6160.466667,6779.100000,1645.133333,2599.633333,...,6009.700000,2912.133333,7185.200000,7065.033333,703.900000,2004.133333,81.500000,238.166667,2535.466667,9.0
2021-10,862.516129,2005.806452,745.741935,945.645161,2917.903226,147.161290,4496.516129,6066.935484,3948.387097,1034.290323,...,5334.193548,3681.741935,6337.193548,12644.290323,5148.677419,3009.451613,147.806452,342.741935,1313.322581,10.0
2021-11,687.266667,2264.466667,727.466667,713.133333,2984.266667,1970.300000,4004.200000,6034.500000,4914.000000,727.000000,...,7223.733333,3568.766667,5705.800000,13722.133333,5047.933333,1415.233333,69.400000,290.533333,1500.933333,11.0
2021-12,385.741935,2537.161290,414.419355,5460.000000,2040.774194,2350.096774,1057.000000,5702.258065,4547.709677,602.935484,...,5409.774194,2540.516129,6041.903226,9669.741935,8355.677419,613.580645,63.000000,998.483871,1452.225806,12.0
2022-01,323.806452,2268.677419,418.967742,9062.483871,2922.612903,1629.129032,832.774194,7593.741935,2512.096774,816.129032,...,1386.645161,2201.612903,4498.870968,10482.516129,3567.516129,808.387097,84.903226,1183.032258,802.645161,1.0
2022-02,364.107143,2224.464286,296.607143,4906.535714,1941.035714,1716.535714,389.214286,4600.535714,1941.642857,497.964286,...,2594.714286,1702.142857,3010.285714,4687.821429,1237.214286,1262.000000,48.178571,848.785714,610.571429,2.0
2022-03,272.818182,747.125000,97.000000,440.000000,1217.960000,1356.720000,470.071429,2001.586207,1325.769231,395.413793,...,2895.846154,NaN,0.000000,3934.181818,661.535714,657.000000,45.875000,1033.103448,2025.793103,3.0

6. Now we will try to obtain the same result, but in one go from the original DataFrame. To do this, take the original dataframe and add the month column as before. Then use Pandas pivot_table method with the correct aggregation function to obtain the same result.

In [23]:
# YOUR CODE HERE

df['date'] = pd.to_datetime(df['date'])
df['year_month'] = df['date'].dt.strftime('%Y-%m')
pivot_df2 = df.pivot_table(index='year_month', columns='country', values='daily_vaccinations_per_million', aggfunc='mean')
pivot_df2

country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
year_month,,,,,,,,,,,,,,,,,,,,,
2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01,NaN,12.238095,21.500000,853.000000,NaN,NaN,NaN,240.774194,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4419.000000,NaN,NaN,NaN,NaN
2021-02,34.000000,118.035714,170.142857,789.571429,NaN,11749.166667,9065.000000,609.714286,NaN,NaN,...,5.000000,NaN,NaN,12.272727,NaN,7001.892857,NaN,NaN,NaN,78.200000
2021-03,69.483871,882.387097,501.000000,3577.677419,121.433333,3642.645161,6070.612903,1957.064516,NaN,11922.000000,...,5402.645161,NaN,NaN,40.451613,19.916667,8515.677419,24225.000000,NaN,NaN,143.612903
2021-04,183.700000,3933.466667,501.000000,7494.566667,364.600000,5789.366667,1204.666667,2931.133333,88.000000,15359.133333,...,11317.466667,622.033333,NaN,275.066667,102.733333,7441.800000,8512.100000,NaN,70.562500,799.066667
2021-05,231.322581,3739.580645,501.000000,2790.709677,366.870968,13199.580645,5412.193548,3144.354839,261.580645,11738.645161,...,9420.580645,1177.193548,NaN,230.419355,235.000000,7108.419355,8330.548387,143.818182,214.161290,1147.806452
2021-06,203.233333,2095.700000,501.000000,13875.533333,581.300000,3568.033333,5734.566667,6186.200000,492.100000,4021.000000,...,10218.733333,1872.633333,993.310345,1399.100000,781.766667,6978.800000,1766.733333,181.400000,9.433333,647.633333
2021-07,273.096774,2561.225806,501.000000,7402.838710,166.387097,4602.451613,1616.419355,7875.290323,927.612903,3351.161290,...,8682.935484,3232.161290,1594.193548,2938.161290,647.741935,4488.032258,1104.935484,45.838710,415.645161,2225.967742
2021-08,479.161290,3007.419355,1857.870968,4367.354839,286.548387,693.129032,1710.096774,7778.741935,1181.612903,3161.290323,...,6867.258065,6441.548387,1291.967742,5641.645161,4622.677419,2060.516129,1349.161290,8.290323,297.129032,3847.612903
2021-09,471.066667,3239.166667,2931.666667,2795.633333,1257.766667,370.200000,6160.466667,6779.100000,1645.133333,2599.633333,...,6902.533333,6009.700000,2912.133333,7185.200000,7065.033333,703.900000,2004.133333,81.500000,238.166667,2535.466667
2021-10,862.516129,2005.806452,745.741935,945.645161,2917.903226,147.161290,4496.516129,6066.935484,3948.387097,1034.290323,...,3733.354839,5334.193548,3681.741935,6337.193548,12644.290323,5148.677419,3009.451613,147.806452,342.741935,1313.322581
2021-11,687.266667,2264.466667,727.466667,713.133333,2984.266667,1970.300000,4004.200000,6034.500000,4914.000000,727.000000,...,1508.833333,7223.733333,3568.766667,5705.800000,13722.133333,5047.933333,1415.233333,69.400000,290.533333,1500.933333
2021-12,385.741935,2537.161290,414.419355,5460.000000,2040.774194,2350.096774,1057.000000,5702.258065,4547.709677,602.935484,...,1534.516129,5409.774194,2540.516129,6041.903226,9669.741935,8355.677419,613.580645,63.000000,998.483871,1452.225806
2022-01,323.806452,2268.677419,418.967742,9062.483871,2922.612903,1629.129032,832.774194,7593.741935,2512.096774,816.129032,...,4057.387097,1386.645161,2201.612903,4498.870968,10482.516129,3567.516129,808.387097,84.903226,1183.032258,802.645161
2022-02,364.107143,2224.464286,296.607143,4906.535714,1941.035714,1716.535714,389.214286,4600.535714,1941.642857,497.964286,...,2285.285714,2594.714286,1702.142857,3010.285714,4687.821429,1237.214286,1262.000000,48.178571,848.785714,610.571429
2022-03,272.818182,747.125000,97.000000,440.000000,1217.960000,1356.720000,470.071429,2001.586207,1325.769231,395.413793,...,3778.275862,2895.846154,NaN,0.000000,3934.181818,661.535714,657.000000,45.875000,1033.103448,2025.793103

7. Now take the dataframe you obtained in exercise 4. Rerun some cells if you need or copy paste some code. We want to get back the original format with a ranged index (0, 1, 2, ...) and a column with country names, a column with the date and a column with the month. Use a combination of stacking, unstacking and reseting the index to obtain this result.

In [24]:
# YOUR CODE HERE
pivot_df = df.pivot(index='date', columns='country', values='daily_vaccinations_per_million')
pivot_df.index = pd.to_datetime(pivot_df.index)
pivot_df['year_month'] = pivot_df.index.strftime('%Y-%m')
pivot_df2=pivot_df.reset_index()
stacked_df = pivot_df2.set_index(['date', 'year_month']).stack().reset_index()
stacked_df

            date year_month               country       0
0     2020-12-03    2020-12                Norway     0.0
1     2020-12-04    2020-12                Norway     0.0
2     2020-12-05    2020-12                Latvia     0.0
3     2020-12-05    2020-12                Norway     0.0
4     2020-12-06    2020-12                Latvia     0.0
...          ...        ...                   ...     ...
86208 2022-03-29    2022-03                Turkey   538.0
86209 2022-03-29    2022-03  United Arab Emirates   845.0
86210 2022-03-29    2022-03               Uruguay  2897.0
86211 2022-03-29    2022-03                Zambia   721.0
86212 2022-03-29    2022-03              Zimbabwe  6874.0

[86213 rows x 4 columns]

8. Obtain the same result as in exercise 7, but now use the melt method to obtain the result.

In [25]:
# YOUR CODE HERE

melted_df = pivot_df.reset_index().melt(id_vars=['date', 'year_month'], var_name='country', value_name='daily_vaccinations_per_million')
melted_df = melted_df.sort_values(by=['date', 'country']).reset_index(drop=True)
melted_df

,date,year_month,country,daily_vaccinations_per_million
0,2020-12-02,2020-12,Afghanistan,NaN
1,2020-12-02,2020-12,Albania,NaN
2,2020-12-02,2020-12,Algeria,NaN
3,2020-12-02,2020-12,Andorra,NaN
4,2020-12-02,2020-12,Angola,NaN
...,...,...,...,...
107704,2022-03-29,2022-03,Wales,NaN
107705,2022-03-29,2022-03,Wallis and Futuna,NaN
107706,2022-03-29,2022-03,Yemen,NaN
107707,2022-03-29,2022-03,Zambia,721.0
107708,2022-03-29,2022-03,Zimbabwe,6874.0